@model IEnumerable<Account>

<h2>Account List</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Id</td>
                <td>@account.Name</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Home")">Add New Account</a>
